section.l-detail a {
    color: #ae003c;
    text-decoration: underline;
}
section.l-detail a:hover {
    text-decoration: none;
}
.l-detail__list {
    font-weight: normal;
}

.heading--hp {
    display: none;
}

.l-maintenance {
    margin: 50px 20px;
    color: black;
}

@media only screen and (min-width: 800px) {
    .l-home-content {
        padding: 60px 0;
    }
}

@media only screen and (min-width: 900px) {
    .l-header {
        padding: 30px 0;
    }
    .nav {
        margin: 15px 0 0 0;
    }
}

@media only screen and (min-width: 1200px) {
    .l-header {
        padding: 20px 0 20px 0;
    }
    .nav {
         margin: 50px 0 0 0;
    }
}
