section.l-detail a {
  color: #ae003c;
  text-decoration: underline;
}
section.l-detail a:hover {
  text-decoration: none;
}
.l-detail__list {
  font-weight: normal;
}
.heading--hp {
  display: none;
}
.l-maintenance {
  margin: 50px 20px;
  color: black;
}
.fancy-box a {
  text-decoration: underline;
}
li a.active {
  color: #ae003c;
}
.product-card__img img {
  position: relative;
}
.product-card__content a:hover {
  text-decoration: underline;
}
@media only screen and (min-width: 800px) {
  .l-home-content {
    padding: 60px 0;
  }
}
@media only screen and (min-width: 900px) {
  .l-header {
    padding: 30px 0;
  }
  .nav {
    margin: 15px 0 0 0;
  }
}
@media only screen and (min-width: 1200px) {
  .l-header {
    padding: 20px 0 20px 0;
  }
  .nav {
    margin: 50px 0 0 0;
  }
}
/* call to action block (from pp_order) */
.call-to-action {
  margin: 10px;
  background: transparent url('../img/png/p-blue.png') no-repeat left center;
  padding: 30px 80px;
  min-height: 133px;
}
.call-to-action p {
  margin: 10px;
  color: #00478D;
  -webkit-font-smoothing: auto;
}
.call-to-action a {
  text-decoration: underline;
  font-weight: bold;
}
.call-to-action .page-title {
  font-style: italic;
  font-weight: bold;
}
@media only screen and (min-width: 800px) {
  .call-to-action {
    margin: 10px 10px 60px 380px;
  }
}
.product-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.product-gallery > * {
  margin: 12px;
}
div.info-box {
  width: 100%;
  /*
  background-image: url('icon-alert.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 1% 50%;
   */
  margin-bottom: 1.5em;
}
div.info-box .text {
  padding: 10px;
  margin: 0px;
  font-size: 18px;
}
div.info-box .info {
  background: #d9edf7;
  border: 1px solid #bce8f1;
  color: #31708f;
}
div.info-box .low {
  background: #f3eaac;
  border: 1px solid #faebcc;
  color: #8a6d3b;
}
div.info-box .high {
  background: #f2dede;
  border: 1px solid #ebccd1;
  color: #a94442;
}
div.info-box a {
  text-decoration: underline;
}
