@import "_colors";
@import "_normalize";
@import "_common";
@import "_cols";
@import "_defaults";
@import "_nav";
@import "_fancy";



.heading--primary {
  font-size: 20px;
  font-size: 1.25rem;
  color: #00478D;
  line-height: 1.1;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;

  @media only screen and (min-width: 800px) {
    font-size: 22px;
    font-size: 1.375rem
  }
}

.heading--secondary {
  color: @secondary_color;
  font-size: 18px;
  font-size: 1.125rem;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;

  @media only screen and (min-width: 800px) {
      font-size: 20px;
      font-size: 1.25rem
  }
}


@import "_fancy";
@import "_infostrip";
@import "_home";
@import "_breadcrumbs";

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.product-card:hover .product-card__heading {
  text-decoration: underline
}

@media only screen and (min-width: 550px) {
  .product-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
  }
}

.product-card__img {
  position: relative;
  overflow: hidden;
  display: none
}

.product-card__img:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 70px 40px 0;
  border-color: transparent #ffffff transparent transparent;
  z-index: 1
}

.product-card__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}

@media only screen and (min-width: 550px) {
  .product-card__img {
    display: block;
    width: 40%
  }
}

.product-card__content {
  position: relative;
  padding: 30px 30px 20px 35px;
  background: -webkit-linear-gradient(-45deg, #fff 14%, #eeeef3 43%, #a3acc3 100%);
  background: -webkit-linear-gradient(315deg, #fff 14%, #eeeef3 43%, #a3acc3 100%);
  background: linear-gradient(135deg, #fff 14%, #eeeef3 43%, #a3acc3 100%);
  z-index: 2
}

.product-card__content h3 + p {
  margin: 25px 0 0 0
}

.product-card__content p + p {
  margin: 25px 0 0 0
}

@media only screen and (min-width: 550px) {
  .product-card__content {
    width: 60%
  }
}

@media only screen and (min-width: 800px) {
  .product-card__heading {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px)
  }
}

.l-header {
  padding: 30px 0 30px 0
}

.l-header .container:after {
  content: "";
  display: table;
  clear: both
}

@media only screen and (min-width: 900px) {
  .l-header {
    padding: 30px 0 55px 0
  }
}

@media only screen and (min-width: 1200px) {
  .l-header {
    padding: 90px 0 50px 0
  }
}

.l-detail {
  padding: 20px 0 40px 0;

  h3 + p, h2 + ul {
    padding: 13px 0 0 0
  }

  h3 + ul {
    padding: 15px 0 0 0
  }

  h2 + p, h2 + ul, h2 + h3 {
    padding: 20px 0 0 0
  }

  p, ul {
    margin: 0 0 25px 0
  }

  .container:after {
    content: "";
    display: table;
    clear: both
  }
}

@media only screen and (min-width: 800px) {
  .l-detail {
    padding: 55px 0 40px 0;

    h2 {
      padding: 30px 0 0 0
    }

    h2 + p,  h2 + ul, h2 + h3 {
      padding: 50px 0 0 0
    }
  }
}

@media only screen and (min-width: 800px) {
  .l-detail__aside {
    float: left;
    width: 330px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 40px 70px 40px 0;
      border-color: transparent #fff transparent transparent
    }
  }
}

.l-detail__content {
  padding: 30px 0 0 0
}

@media only screen and (min-width: 800px) {
  .l-detail__content {
    float: left;
    width: calc(100% - 330px);
    padding: 0 50px 0 45px
  }
}

@media only screen and (min-width: 800px) {
  .l-detail__heading {
    -webkit-transform: translateX(-60px);
    transform: translateX(-60px)
  }
}

.l-detail, .l-detail__list {
  //font-weight: 600;

  li {
    padding: 0 0 0 20px;
    position: relative
  }

  li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 12px;
    height: 12px;
    background-image: url("../img/png/arrow-red.png");
    background-size: 12px 12px;
    background-repeat: no-repeat
  }

  li + li {
    margin: 10px 0 0 0
  }
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .l-detail__list li:before {
    background-image: url("../img/png/arrow-red-2x.png")
  }
}

@import "_products";

.l-list {
  padding: 30px 0 40px 0
}

@media only screen and (min-width: 1250px) {
  .l-list {
    padding: 55px 0 70px 0
  }
}

.l-list .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.l-list .container:after {
  content: "";
  display: table;
  clear: both
}

.l-list__col {
  width: 100%
}

@media only screen and (min-width: 1250px) {
  .l-list__col {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

.l_footer {
  position: relative;
  padding: 30px 0 5px 0;
  background-color: #fff;

  a {
    font-weight: 600;
    text-decoration: underline
  }

  p + p {
    margin: 10px 0 0 0
  }

  address {
    font-style: normal
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 75px;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #d7d8e1 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #d7d8e1 100%)
  }

  &__heading {
    font-size: 1rem;
    font-weight: 600
  }
}

@media only screen and (min-width: 1200px) {
  .l_footer {
    padding: 30px 0
  }
}

@import "_extras";

