body, #site-slogan, .ui-widget, .comment-form label {
    font-family: Verdana, Arial, sans-serif;
    font-size: 10pt;
}

#main-page {
    background-color: white;
}

#footer-wrapper {
    background-color: #575757;
}

#page-wrapper,
#footer-wrapper {
    background: #292929;
}

/* ===== navigace ===== */
#main-menu {
    float: left;
}

#main-menu-links {
    padding: 0 15px 0 0;
}

#main-menu li a,
#secondary-menu-links li a,
.content .products_preview a {
    color: #333;
    font-weight: bold;
    text-shadow: 0 1px #eee;

}

#main-menu li a {
    font-size: 11pt;
    display: block;
    text-align: center;
    height: 78px;
}

#main-menu li a span {
    display: block;
    padding: 23px 10px;
    margin: 5px 0;
    border-right: 1px solid #cccccc;
    width: 80px;
    text-align: center;
}

#main-menu li.first a span {
    border-left: 1px solid #cccccc;
}

#main-menu li a.active,
#main-menu li a:hover,
#main-menu li a:active,
#logo:hover {
    background: white; /* Old browsers */

    background: -moz-linear-gradient(top, #7f721d 0%, #FFFFFF 44%, #FFFFFF 56%, #7f721d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7f721d), color-stop(44%, #FFFFFF), color-stop(56%, #FFFFFF), color-stop(100%, #7f721d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7f721d 0%, #FFFFFF 44%, #FFFFFF 56%, #7f721d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7f721d 0%, #FFFFFF 44%, #FFFFFF 56%, #7f721d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7f721d 0%, #FFFFFF 44%, #FFFFFF 56%, #7f721d 100%); /* IE10+ */
    background: linear-gradient(to bottom, #7f721d 0%, #FFFFFF 44%, #FFFFFF 56%, #7f721d 100%); /* W3C */
}

#main-menu .menu-504 span {
    padding: 12px 10px;
}

#secondary-menu {
    position: absolute;
    top: 100px;
    right: 0;
}

#secondary-menu-links li a:hover {
    text-decoration: underline;
}

.products_preview a:hover {
    text-shadow: 1px 1px #333;
    text-decoration: none;
    color: white;
}

#secondary-menu-links {
    float: right; /* LTR */
    font-size: 0.929em;
    margin: -20px 25px 0 0;
}

#secondary-menu-links li {
    padding: 0 0.5em 0 0;
}

#logo {
    float: left; /* LTR */
    line-height: 0;
    padding: 0 15px;
    /*-webkit-border-radius: 10px;*/
    /*-moz-border-radius: 10px;*/
    /*border-radius: 10px;*/
}

#header {
    background-color: #f2f2f2;
    /*background-color: #9CF;*/
    /*-webkit-border-radius: 10px;*/
    /*-moz-border-radius: 10px;*/
    /*border-radius: 10px;*/
}

#header{
    background: #f1da36; /* Old browsers */

    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    filter: none;
    /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdmNzIxZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iI2YxZGEzNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iI2YxZGEzNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZjcyMWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); */
    background: -moz-linear-gradient(top, #7f721d 0%, #f1da36 44%, #f1da36 56%, #7f721d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7f721d), color-stop(44%, #f1da36), color-stop(56%, #f1da36), color-stop(100%, #7f721d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7f721d 0%, #f1da36 44%, #f1da36 56%, #7f721d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7f721d 0%, #f1da36 44%, #f1da36 56%, #7f721d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7f721d 0%, #f1da36 44%, #f1da36 56%, #7f721d 100%); /* IE10+ */
    background: linear-gradient(to bottom, #7f721d 0%, #f1da36 44%, #f1da36 56%, #7f721d 100%); /* W3C */
}

#header h2 {
    display: none;
}

#block-system-navigation {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#block-system-navigation {
    -webkit-box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.75);
}

/* ===== Obecne tagy ===== */

h1 {
    margin-top: 0.3em;
}

h2, h3 {
    color: #134371;
}

h2 {
    border-bottom: 1px solid #f2f2f2;
    clear: left;
}

h2.element-invisible {
    height: 1px;
}

.front .title {
    display: none;
}

.homepage_slides, .homepage_text {
    float: left;
}

.homepage_text {
    width: 430px;
}

.clear {
    clear: both;
}

.content a,
.breadcrumb a,
.breadcrumb a:visited {
    color: #134371;
}

.products_preview {
    float: left;

    width: 30%;
    height: 200px;

    margin: 0.5%;
    padding: 1%;

    background: #bfad26;
}

.products_preview h2 {
    margin-top: 0;
    border-color: #cccccc;
    color: #333;
}
.products_preview a:hover h2 {
    color: white;
}

.products_preview li {
    font-size: 1.1em;
    padding-bottom: 0.5em;
}


/* eu cookie compliance alter */
.sliding-popup-top {
    position: absolute;
    box-shadow: black 0 0 20px;
}

#sliding-popup .popup-content #popup-text p {
    font-weight: normal;
}

@media (max-width: 960px) {
    #header div.section, #featured div.section, #messages div.section,
    #main, #triptych, #footer-columns, #footer, .no-sidebars #content,
    #page-wrapper {
        width: 100%;
        min-width: 100%;
    }
    .products_preview {
        width: 97%;
    }

    #logo, #main-menu {
        float: none;
        width: 100%;
        display: block;
        text-align: center;
        padding: 0;
    }
    #logo a, #main-menu ul {
        text-align: center;
        display: inline-block;
        padding: 0;
    }
    #main-menu li a.active, #main-menu li a:hover, #main-menu li a:active, #logo:hover {
        background: none;
        /* TODO background: linear-gradient(to center, );*/
        color: #FFF;
    }

    #footer {
        width: 90%;
        margin: 30px auto 0;
    }
    h1 {
        margin-left: 3%;
    }
    .homepage_slides {
        display: none;
    }
    .homepage_text {
        width: 100%;
    }
    .content {
        width: 94%;
        margin: 0 3%;
    }
    #more_info_wrapper .form-type-radios,
    #more_info_wrapper .form-type-checkboxes {
        width: 50%;
    }
}
@media (max-width: 650px) {
    #edit-sizes .form-type-radio,
    #edit-sizes .form-type-checkbox,
    #more_info_wrapper .form-type-radios,
    #more_info_wrapper .form-type-checkboxes {
        float: none;
        width: auto;
        height: auto;
    }
}

@media (max-width: 420px) {
    /* todo menu */
}
