
.recap-table {
    th {
        background-color: inherit;
        color: inherit;
        text-align: right;
        vertical-align: middle;
    }

    th.section {
        background-color: #757575;
        color: #FFF;
        text-align: left;
    }

    .col1, .col3 {
        width: 12em;
    }
    .result {
        //font-size: 1.5em;

        input {
            width: 80%;
        }
    }
}

.img-attachment-preview {
    display: none;
}
